body { margin: 0; font-family: Helvetica, Calibri, sans-serif; overflow: hidden;}
canvas { width: 100%; height: 100% }

.container-end {
	background-color: black;
	position: fixed;
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
    display: table;
	display: none;
}



.container-end-replay:hover {
	background-color: #16a085;
	color: white;
}

.content-text {
    position: absolute;
    width: 100%;
    text-align: center;
    display: table;
    height: 100%;
}

.content-text-title1, .content-text-title2, .content-text-title3 {
    color: white;
    /*font-family: 'Asap', sans-serif;*/
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    opacity: 0;
}

.content-text-title1 {
    text-transform: uppercase;
    font-size: 2.5em;
        color: #16a085;
}

.content-text-title2 {
    font-size: 1.5em;
    margin: 0 auto;
    margin-top: 20px;
}

.content-text-title3 {
    font-size: 1.5em;
    margin: 0 auto;
    margin-top: 30px;
}

.subcontent-text {
    display: table-cell;
    vertical-align: middle;
}

.content-text-line {
    height: 1px;
    width: 0px;
    background-color: white;
    margin: 0 auto;
} 

.containeraudio {
   display: none;

}

.content-text-start {
    border: 1px solid #16a085;
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 20px 50px;
    /* position: relative; */
    /* top: 200px; */
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: background 1s, color 1s;
    transition: background 1s, color 1s;
}

.content-text-start:hover {
    background-color: #16a085;
    color: white;
}

.subtitles-content {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;

}

.subtitles-content p {
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
        color: white;
    text-align: center;
    display: absolute;
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    opacity: 0;

}

.logo-gobelins {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0;
}

.container-end-content {
    display: table;
    width: 100%;
    height: 100%;
}

.container-end-content--center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container-end-content-title1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: 1.8em;
    margin-bottom: 80px;
    margin-top: 20px;
    opacity: 0;
}


.container-end-replay {
    border: 1px solid #16a085;
    color: #16a085;
    text-decoration: none;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: lighter;
    /*display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    opacity: 0;
    -webkit-transition: background 1s, color 1s;
    transition: background 1s, color 1s;
    


}


